h1, h2, h3, h4, h5, h6, body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  background-color: black;
}
@media (max-width: 299px) {
  .campushover h1, .sharespacehover h1{
margin-top: 0;
font-size: 12px;
}
.fitmaphover h1 {
  margin-top: 0;
  font-size: 12px;
  }
.container ul li a {
  font-size: 12px;
}
}
@media (min-width: 300px) {
  .campushover h1, .sharespacehover h1{
margin-top: 20%;
}
.fitmaphover h1 {
  margin-top: 10%;
}
.aboutmedescription {
  padding: 5%;
  font-size: 18px;
}
}
@media (min-width: 500px) {
  .campushover h1, .sharespacehover h1{
margin-top: 30%;
}
.fitmaphover h1 {
  margin-top: 20%;
}
}
@media (min-width: 600px) {
.campushover h1, .sharespacehover h1{
margin-top: 35%;
}
.fitmaphover h1 {
  margin-top: 30%;
}
.sum p, .sum2 p {
  font-size: 14px;
  }
.sum h1, .sum2 h1 {  
font-size: 50px;
}
.main p, .main ul li {
  font-size: 18px;
}
.protolink {
  font-size: 18px;
}
.casenav a {
  padding-left: 20px;
}
.casenav {
  padding: 20px 0;
}
.aboutmedescription {
  font-size: 14px;
  width: 70%;
}
.aboutmepic {
  position: relative;
}
.aboutmedescription {
  position: absolute;
  top: 5%;
  left: 5%;
  color: white;
  padding: 0;
}
}
@media (max-width: 599px) {
  .sum p, .sum2 p {
    font-size: 12px;
  }
  .sum h1 {
    font-size: 36px;
  }
  .sum2 h1 {
    font-size: 32px;
  }
  .main p, .main ul li {
    font-size: 14px;
  }
  .protolink {
    font-size: 14px;
  }
  .casenav a {
    padding-left: 7px;
  }
  .casenav {
    padding: 10px 0;
  }
}
@media (max-width: 949px) {
  header {
    background-color: #2B2B2B;
  }
  .rightnav li {
  list-style-type: none;
  display: inline;
  color: white;
}
.rightnav, .leftnav {
  text-align: center;
  margin: 0;
  padding: 20px 0;
}
.rightnav {
  background-color: #2B2B2B;
}
.rightnav li{
  padding-right: 10px;
  padding-left: 10px;
}
.studies h1 {
  text-align: center;
}
.studies ul {
  padding-right: 20px;
}
.fitmap {
  background-color: #2B2B2B;
  padding-top: 40px;
}
.sharespace {
  padding-top: 40px;
}
.casecampus, .casefitmap, .casesharespace {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.casecampus img, .casefitmap img, .casesharespace img {
  width: 100%;
}
.campusdescription, .fitmapdescription, .sharespacedescription {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 40px;
}
.bottomleft, .bottomright {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer ul li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
.resumeheader, .contactheader {
  margin-top: 5px;
}
.fixed {
  width: 100%;
}
.hero {
  margin-top: 5px;
}

/**About Me**/
.aboutmepic {
  margin-top: 5px;
}
iframe {
  width: 100%;
}
.formbk {
  width: 100%;
}
}

@media (min-width: 800px) {

.skills {
  display: table;
  padding-left: 6%;
}

.columnone, .columntwo, .columnthree {
  display: table-cell;
  width: 30%;
}
}

@media (max-width: 799px) {
.resume ul li {
  font-size: 12px;
}
.resume p {
  font-size: 14px;
}
.casenav a {
  font-size: 12px;
}
}

@media (min-width: 950px) {
/**HEADER**/
header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  background-color: #2B2B2B;
  margin-top: 30px;
  margin-bottom: 5px;
}
.studies h1 {
  margin-left: 4%;
}
.container {
  position: relative;
}
.leftnav, .rightnav {
  margin: 0;
  padding: 20px 4%;
  width: 45%;
}
.rightnav {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
}
.leftnav li, .rightnav li {
  list-style-type: none;
  display: inline;
  color: white;
}
.leftnav img {
  padding-right: 20px;
}
.rightnav li a {
  padding-left: 20px;
  }

/**CASE STUDIES**/
.studies {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #2B2B2B;
  overflow: auto;
}
.casecampus img, .casefitmap img, .casesharespace img {
  width: 95%;
  margin-bottom: 4px;
  margin-top: 8px;
  margin-left: 2.5%;
}
.casecampus, .casefitmap, .casesharespace {
  width: 35%;
  float: left;
  margin-bottom: 20px;
  margin-left: 4%;
}

.campusdescription, .fitmapdescription, .sharespacedescription {
  width: 57%;
  float: right;
  margin-right: 4%;
}
.contact, .casefitmap, .casesharespace {
  clear: both;
}
.contact {
  width: 80%;
}
footer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.bottomright, .bottomleft {
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.bottomleft {
  float: left;
}
.bottomright {
  float: right;
  text-align: right;
}
footer ul li {
  display: inline;
  padding-left: 20px;
}
.campushover h1, .sharespacehover h1{
margin-top: 20%;
}
.fitmaphover h1 {
  margin-top: 10%;
}


/**resume**/

.resume {
  width: 80%;
  margin: 0 auto;
}

/**contact**/
#form-wrap, .contactheader {
width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/**campus**/
.casenav {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.fixed {
  left: 10%;
}
.main {
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.hero {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/**About Me**/
.aboutmepic {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.aboutmedescription {
  width: 60%;
  font-size: 16px;
}

.formbk {
  width: 80%;
}

}

@media (min-width: 1000px) {
  .fitmaphover h1 {
    margin-top: 16%;
  }
}


/**End of Media Queries**/
.studies h1 {
  font-size: 21px;
}
.leftnav li a {
  color: white;
  text-decoration: none;
}

.leftnav li a span {
  color: #AFAFAF;
}

.rightnav li a {
  color: white;
  text-decoration: none;
}
.rightnav li span:hover {
  border-bottom: 3px solid white;
  transition: 0.1s;
}
.rightnav li span span{
  border-bottom: 3px solid white;
}
.leftnav img {
  width: 55px;
  height: 61px;
}

.casecampus {
  background-color: #D96459;
}
.casefitmap {
  background-color: #8C4646;
}
.casesharespace {
  background-color: #F2E394;
}
.studies h1 {
  color: white;
  margin-bottom: 20px;
  padding-top: 20px;
}
.studies ul {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
}
.studies ul li {
  color: white;
  margin-top: 20px;
  font-size: 14px;
}
.studies ul li a {
  color: #45AAD7;
  text-decoration: none;
}
.studies ul li a img {
  padding-left: 5px;
}
.campusdescription ul h1, .fitmapdescription ul h1, .sharespacedescription ul h1 {
  margin-left: 0;
}
.fitmapdescription span span {
  color: #959595;
  padding-left: 10px;
}
span {
  font-weight: bold;
  font-size: 16px;
}

.contact {
background-color: #F2AE72;
margin-left: auto;
margin-right: auto;
height: 300px;
margin-top: 5px;
}
.contact h1, .contact p {
  text-align: center;
  color: white;
}
.contact p {
  margin-bottom: 60px;
}
.contact h1 {
  margin-bottom: 40px;
}

.contactbtn {
  background-color: #F2AE72;
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-top: -15px;
}
.contactbtn a {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: #588C7E;
  padding: 15px 40px;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}
.contactbtn a:hover {
  background-color: #397A69;
  transition: 0.5s;
}
.contactstyle {
  padding-top: 15px;
}
footer p {
  margin: 0;
  font-size: 12px;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul li a{
text-decoration: none;
color: white;
font-size: 14px;
}
footer ul li a:hover {
  opacity: 0.6;
  transition: 0.1s;
}
.bottomleft {
  color: white;
}

.casecampus, .casefitmap, .casesharespace {
  position: relative;
}
.campushover, .fitmaphover, .sharespacehover {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  width: 95%;
  margin: 2.5%;
  text-decoration: none;
  text-align: center;
  visibility: hidden;
  opacity: 0;
}
.campushover h1, .fitmaphover h1, .sharespacehover h1 {
  margin-left: 0;
  padding: 0;
}
.campushover ul, .sharespacehover ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.campushover ul li, .sharespacehover ul li, .fitmaphover ul li {
  margin: 0;
  padding-bottom: 5px;
}
.casecampus:hover .campushover {
  visibility: visible;
  opacity: 0.9;
  transition: 0.5s;
}
.casefitmap:hover .fitmaphover {
  visibility: visible;
  opacity: 0.9;
  transition: 0.5s;
}
.casesharespace:hover .sharespacehover {
  visibility: visible;
  opacity: 0.9;
  transition: 0.5s;
}
.fitmaphover ul {
  padding: 0;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

/**Campus**/

.hero {
  background-image: linear-gradient(153deg, #EF7C6C 0%, #D96459 95%);;
}
.herocampusimg {
  width: 70%;
  padding: 8% 0 8% 25%;
}

.herofitmapimg {
  width: 70%;
  padding: 20% 0 10% 25%;
}

.herosharespaceimg {
  width: 70%;
  padding: 10% 0 8% 25%;
}

.sum, .sum2 {
  width: 60%;
  padding: 0 8% 8% 4%;
}


.sum p, .sum h1, .sum2 p, .sum2 h1 {
  color: white;
}

.table {
  display: table;
}
.sum, .sum2 {
  display: table-cell;
  vertical-align: middle;
}

.fixed {
  position: fixed;
  top: 0;
  background-color: black;
}

.casenav {
  background-color: #626262;
}

.nav-placeholder {
  margin: 0 0 40px 0;
}
.casenav a {
  text-decoration: none;
  color: white;
}
.casenav a:hover {
  color:#F2AE72;
  transition: 0.5s;
}

.main h1 {
  margin: 0;
  padding: 40px 20px 20px 20px;
  color: #333333;
}
.main h2 {
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  border-bottom: 4px solid #F2AE72;
  color: #333333;

}
.main p {
  margin: 0;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #333333;
}
.main h1 {
  font-size: 24px;
  text-align: center;
}
.main h2 {
  font-size: 18px;
}
.textwrapper {
  padding: 20px;
}
.datalist {
  background-color: #ECF0F1;
  padding: 20px;
  margin-bottom: 20px;
}
.datalist ul li {
  margin-bottom: 10px;
}
.campuscompetitors, .fitmapcompetitors, .swotanalysis {
  padding-bottom: 30px;
  padding-top: 10px;
}
.campussurveyimg, .fitmapsurveyimg {
  padding-top: 10px;
}
.campussurveyimg img, .fitmapsurveyimg img {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 20px;
}
.campuscompetitors img, .fitmapcompetitors img {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.swotanalysis img {
  width: 70%;
  display: block;
  margin: 0 auto;
}
.fitmaplogodrafts img, .brandex img, .campuslogodraft img, .campuslogodraft2 img, .campuslogofinal img, .campusmap img, .fitmapmap img, .campusflows img, .codepic img, .fitmapidentity img, .visualmoodtest, .preftest img {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

.campushifipic img {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.campuslofiimg {
  background-color: #ECF0F1;
  padding: 30px;
  margin-bottom: 20px;
}

.campuslofiimg img {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.ABtest, .ABtest2, .preftest {
  background-color: #ECF0F1;
}
.dorispersona, .stevenpersona, .ivanpersona, .raymondpersona, .irenepersona, .mingpersona {
  width: 30%;
}
.dorispersona img, .stevenpersona img, .ivanpersona img, .raymondpersona img, .irenepersona img, .mingpersona img {
  width: 100%;
}
.dorispersona, .stevenpersona, .ivanpersona, .raymondpersona, .irenepersona, .mingpersona {
  float: left;
  padding-bottom: 30px;
  padding-top: 10px;
}
.dorispersona, .stevenpersona, .raymondpersona, .irenepersona {
  padding-right: 5%;
}

.ABtest img, .ABtest2 img {
  width: 48%;
}
.Atest, .Atest2 {
  float: left;
}
.ABtest, .ABtest2, .preftest {
  padding: 30px;
}
.ABtestcontainer h1 {
  background-color: #2B2B2B;
  padding: 15px;
  font-weight: normal;
  font-size: 16px;
}
.Atest, .Atest2 {
  padding-right: 4%;
}
.protolink {
  padding-left: 20px;
  font-weight: bold;
  color: black;
}
.sum p, .sum2 p {
  margin: 0;
}

.protolink, .flows {
  text-decoration: none;
  font-weight: bold;
  color: #F2AE72;
}
.campushifipic {
  padding-bottom: 20px;
}
.livesite {
  padding-bottom: 20px;
}

section {
    min-height: 100%;
}


/**CONTACT**/
.contactheader {
background-color: #F2AE72;
}
.contactheader h1 {
  text-align: center;
  padding: 60px 40px 20px 40px;
  margin: 0;
  color: white;
}
.contactheader p {
  text-align: center;
  padding: 10px 0 60px 0;
  margin: 0;
  color: white;
}
.contactheader p a {
  text-decoration: none;
}

.resume {
  background-color: white;
  padding-bottom: 40px;

}
.resume h2 {
  padding: 20px;
  background-color: #ECF0F1;
}
.resume p {
  padding-left: 20px;
}
.resume ul {
  padding: 0 8%;
}
.resume ul li {
  padding-bottom: 5px;
}
.resumeheader {
  text-align: center;
  padding-bottom: 40px;
}
.resume h1 {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #333333;
}

.resumeheader a {
  text-decoration: none;
  font-weight: bold;
}

/**About Me**/
.aboutmepic img {
  width: 100%;
  margin-bottom: -5px;
  opacity: 0.9;
}
.aboutmedescription span {
  font-size: 21px;
  opacity: 0.7;
}
.aboutmedescription {
 color: white;
}

iframe {
  display:block; 
  margin: 0px auto; 
  border: none;
}
.formbk {
  background-color: white;
  margin: 0px auto;
}

.pdfholder {
  padding-bottom: 10px;
}
.pdfholder a {
  text-decoration: none;
  font-weight: bold;
  padding-left: 10px;
}

